/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* カットイン */
.sc-ehMyHa,
/* 背景 */
.sc-bWXABl,
/* 盤面 */
.sc-GVOUr,
/* スクリーンパネル */
.sc-kIKDeO,
/* キャタクター */
.sc-ZyCDH,
/* マーカーパネル */
.sc-TRNrF,
/* チャットログ */
.sc-gFGZVQ>.MuiList-root,
/* チャットログ背景 */
.sc-lbOyJj>.MuiPaper-root,
/* 吹き出し */
.sc-gGnURB,
/* タイマー */
.sc-bQtKYq,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
header>.MuiToolbar-gutters,
/* 音量 */
.sc-fWjsSh,
/* 拡大縮小 */
.sc-gVAlfg,
/* 鉛筆ボタン */
.sc-bGWzfD,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/**************************
　ステータス
**************************/
/* 上下の調整 */
.sc-gJwTLC {
  top: 5px;
  padding: 10px;
}

/* キャラアイコン */
/* 画像枠サイズ */
.MuiBadge-root{
	width:100px;
	height:100px;
}
/*画像サイズ*/
.MuiAvatar-root{
	width:100px;
	height:100px;
}
/* イニシアチブ表示 */
.MuiBadge-badge{
	padding: 2px 6px;
	height: 30px;
	font-size:1.75rem;}
/* ステータス表記 */
/* ステータスバー位置調整 */
.sc-iWajrY{
	margin-left: 20px;
	max-width: 300px;
	display: flex;
	flex-wrap: wrap;
}

/* サイズ調整 */
.MuiTypography-body2 {
  font-size: 1.75rem;
}

/* ステータスバーの幅 */
/* バーの幅 */
.sc-gHLcSH,
/* バー背景の幅 */
.sc-KfMfS {
  height: 24px;
}

/* ステータスバーの長さ */
.sc-hZFzCs {
  width: 165px;
}

/* ステータスバー間隔 */
.sc-cHPgQl {
	height: 24px;
}

.MuiTypography-body2 {
  display: flex;
  align-items: center;
  padding: 10px;
}